* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  --bg-color: #edf2ff;
  --text-color: #00082f;
  --primary-color: #4263eb;
  --primary-color-dark: #364FC7;
}

body.dark-blue {
  --bg-color: #00082f;
  --text-color: #fff;
}

body.pink {
  --bg-color: #fff0f6;
  --text-color: #1f000b;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e3d;
}

body.dark-pink {
  --bg-color: #1f000b;
  --text-color: #fff0f6;
  --primary-color: #d6336c;
  --primary-color-dark: #a61e3d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}
 
img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 3.7px;
  border: 4px var(--primary-color) solid;
}

h1 {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 32px;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.8;
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-transform: uppercase;
  justify-content: center;
  background: var(--primary-color);
  margin-bottom: 16px;
  color: #fff;
  font-size: 14px;
  border-radius: 6px;
  transition: background 400ms;
}

ul li a:hover {
  background: var(--primary-color-dark);
}

footer {
  font-weight: 500;
  font-size: 12px;
  opacity: 0.6;
  transition: opacity 400px;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text-color);
}